<div class="row" id="mainRow">
  <div class="col-md-8">
    <form class="form-inline">
      <img src="https://i.hizliresim.com/Qsy5Kw.png" class="logo" alt="">
      <div class="searchContainerMain">
        <div class="searchContainer">
          <i class="fa fa-search fa-lg  searchIcon" id="searchIconId"></i>
          <input class="searchBox" type="search" name="search" placeholder="Type in to search...">
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-4">
    <nav class="navbar-right">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{user[0].name}}
          </a>
        </li>
      </ul>
    </nav>
    <!-- <i class="fa fa-home fa-lg"></i> -->
    <img class="navIcons" id="profileIcon" src="https://i.hizliresim.com/q427Sa.png" alt="">
    <img class="navIcons" id="notificationIcon" src="https://i.hizliresim.com/3jvzQM.png" alt="">
    <img class="navIcons" id="lampIcon" src="https://i.hizliresim.com/mIgRdQ.png" alt="">

  </div>


</div>
